body {
  margin: 0;
  padding: 0;
  line-height: 1.75;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  background-color: #ccc;
  color: #000;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.button {
  border: #000 1px solid;
}
